:root{
    --ClearText: whitesmoke;
    --DBlue: #406a91;
    --Dark: #31343D;
    --CBlue: #92ccce;
}
body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: justify;
    background-color: var(--ClearText);
    }
/*Big image format */
.HeadPic{
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../images/Title blue.png");
    background-size: cover;
    background-position: top;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    background-color: var(--Dark);
    color:var(--ClearText);
}
/*Header in line to call Work boxes*/
.header h1 {
    display: inline-block;
    font-size: 60px; 
    background-color: var(--CBlue);
    padding: 1% 1%;
}
/* For just mark part of Title */
.header h1 .Name {
    color: var(--DBlue);
    }
.header Nav {
    display: inline-block;
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    padding: 10px;
    color: var(--ClearText);
}
.header Nav a {
    font-size: 25px;
    font-family: Times New Roman, Times, serif;
    color: var(--ClearText);
}
/*format of Work boxes (insede each) */
.work-box {
    margin-left: 25%;
    margin-bottom: 15px;
    height: 200px;
    width: 75%;
    padding: 1%;
    background-color: var(--ClearText);
    flex-wrap: wrap;
    border-left: 3px solid BLACK;
    border-left-width:thick;
}
/*format of Work boxes (Texts) */ 
    .work-box h2 {
        margin-top: 0%;
        margin-left: -30%;
        font-size: 50px;
        text-align: left;
        font-family: Times New Roman, Times, serif;
        color: var(--DBlue);
        }
    .work-box p{
        display: inline-block;
        font-size: 15px;
        margin-top: 0px;
        text-align: justify;
        font-family: Times New Roman, Times, serif;
        color: var(--Dark);
        flex-wrap: wrap;
    }
    .work-box nav a{
        padding-top: 0px;
        margin-right: 60px;
        float: right;
        font-size: 18px;
        font-family: Times New Roman, Times, serif;
        color: var(--Dark);
    }
    @media screen and (max-width: 768px) {
        body,
        nav {
          flex-direction: row;
        }
      }
/*Foot of page - personal menssage */
    .footer {
        margin-bottom: 20px;
        padding: 30px;
        clear: both;
        font-family: Times New Roman, Times, serif;
        text-align: center;
    }
    .footer h2 {
        font-size: 25px;
    }